<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-screen min-h-screen bg-zinc-900 p-10 text-white flex flex-col items-center gap-5">
        <h1 class="text-4xl mb-5">This feature is currently in development. Sorry for the incovenience. </h1>
        <a href="/takehome" class="px-3 py-2 bg-blue-500 rounded-md">Back to Home</a>
    </div>
</body>
</html>